<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.thibaultcha.TCBlobDownload</string>
	<key>CFBundleName</key>
	<string>TCBlobDownload Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>http://thibaultcha.me/thibaultCha</string>
	<key>DocSetFeedName</key>
	<string>TCBlobDownload Documentation</string>
	<key>DocSetFeedURL</key>
	<string>http://thibaultcha.me/thibaultCha/com.thibaultcha.TCBlobDownload.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	<key>DocSetPlatformFamily</key>
	<string>iphoneos</string>
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.thibaultcha.documentation</string>
	<key>DocSetPublisherName</key>
	<string>thibaultCha</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 thibaultCha. All rights reserved.</string>
</dict>
</plist>
